* {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.card {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
    background: black;
    width: 30vw;
    height: 30vh;
}

.caixas > input {
    width: 20vw;
    height: 30px;
    border: 0;
    border-radius: 10px;
    margin-bottom: 10px;
}

/* 
button {
    background-color: white;
}

option {
    background-color: white;
}

body {
    background: rgb(65, 65, 65);
}

p {
    color: white;
}

input {
    background: white;
}

input::placeholder {
  color: black;
}

h1{
    color: white;
} */